/* Estilos globais e configurações mantidos */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font: "Inter", system-ui;
    --black: #000;
    --grey: #1C1C1C;
    --white: #fff;
}

body {
    font-family: var(--font);
    background-color: var(--grey);
    width: 100%;
    height: 100vh;
}

header {
    background-color: var(--black);
}

.title-page {
    color: var(--white);
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0 2rem 0;
}


.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 9rem;
    padding: 20px;
    margin: 4rem 2rem;
}

.card {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    width: 12rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-poster {
    width: 100%;
    height: auto;
}

.card-name {
    height: auto;
    margin: 10px 0;
    font-size: 1.2rem;
    color: #333;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.floating-card {
    background-color: #f5f5f5;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 10px;
    width: 45rem;
    padding: 1rem 2rem;
}

.floating-card-header {
    display: flex;
    justify-content: center;
}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 16px;
    padding: 0.5rem;
    background-color: transparent;
    border: 0;
}

.card-image {
    border-radius: 15px;
    height: 15rem;
}

.card-content {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

.card-poster-floating {
    padding-right: 2rem;
}

.card-description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-movie {
    font-size: 14px;
    padding-bottom: 1rem;
    gap: 2rem;
}

/* Tablets */
@media (max-width: 768px) {
    .floating-card {
        width: 85%;
        padding: 1rem;
        top: 10%;
        transform: translateX(-50%);
    }

    .card-image {
        height: 12rem;
    }

    .card-summary {
        font-size: 0.9rem;
    }
}

/* Smartphones  */
@media (max-width: 480px) {
    .floating-card {
        width: 90%;
        padding: 1rem;
        top: 5%;
        transform: translateX(-50%);
        overflow-y: auto;
        max-height: 90vh;
        height: auto;
        flex-direction: column;
    }

    .card-title {
        font-size: 1.2rem;
    }

    .card-summary {
        font-size: 0.85rem;
    }

    .card-movie {
        font-size: 0.75rem;
    }


    .card-content {
        flex-direction: column;
        align-items: center;
    }

    .card-poster-floating {
        padding: 0;
        margin-bottom: 1rem;
    }

    .card-image {
        width: 100%;
        height: auto;
        max-height: 20rem;
        border-radius: 10px;
    }

    .card-description {
        text-align: center;
        padding: 0 1rem;
    }
}
